.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

.toggleButton {
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game-info {
  display: flex;
  gap: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 20px;
}
